{
  "extends": "airbnb-base",
  "rules": {
    "import/order": "off",
    "import/newline-after-import": "off",
    "global-require": "off",
    "max-len": ["error", {
      "code": 120,
      "ignoreTrailingComments": true
    }],
    "object-curly-newline": ["error", {
      "ObjectExpression": { "minProperties": 10, "multiline": true, "consistent": true },
      "ObjectPattern": { "minProperties": 10, "multiline": true, "consistent": true },
      "ImportDeclaration": { "minProperties": 10, "multiline": true, "consistent": true },
      "ExportDeclaration": { "minProperties": 10, "multiline": true, "consistent": true }
    }]
  }
}
